- 
  i18n.en = {
    "header-text": "My name is Martins Osis. When the real life isn't demanding too much of my attention, I spend my virtual one on the internet, building software or playing videogames. This page is where I keep links to my digital profiles and random things I've made in my spare time.",
    "header-contacts-professional": "Professional",
    "header-contacts-email": "Preferred",
    "header-contacts-personal": "Personal",
    "skype.work": "Skype (work account)",
    "email": "E-mail",
    "blog": "Blog",
    "footer-text": "Site concieved, created and tenaciously kept alive by my very own self. Icons and background images are from Google Images, though, and the font ('Ubuntu') is from Google as well.",
    "checking-online-status": "Loading...",
    "page-offline": "You don't appear to have an internet connection. Using a cached offline copy of the page.",
    "email-text": "My e-mail address is:\n\n{0}\n\nClick [OK] to start a new e-mail in your default e-mail program (if your system supports that).",
    "project-lv-keyboard": "Latvian keyboard layout (including Dvorak version)",
    "project-fr-keyboard": "French QWERTY keyboard layout",
    "project-livescriptbrains": "LiveScript language plugin for JetBrains IDEs (WebStorm etc.)",
    "software": "Software",
    "gaming": "Videogames",
    "profiles": "Accounts & profiles",
    "money": "Financial accounts"
  }