- 
  i18n.lv = {
    "header-text": "Mani sauc Mārtiņš Osis. Kamēr īstā dzīve neprasa pārāk daudz uzmanības, virtuālo pavadu internetā, būvējot datorprogrammas vai spēlējot videospēles. Šajā lapā apkopoju vietas, kur mani var digitāli uzmeklēt, kā arī saites uz brīvajā laikā sastrādāto.",
    "header-contacts-professional": "Profesionāli",
    "header-contacts-email": "Vislabāk",
    "header-contacts-personal": "Personīgi",
    "skype.work": "Skype (darba konts)",
    "email": "E-pasts",
    "blog": "Emuārs (blogs)",
    "footer-text": "Lapa izdomāta, uztaisīta un tiek spītīgi turēta pie dzīvības paša spēkiem. Ikonu un fona attēli gan atrasti Google Images. Fonts ('Ubuntu') arī no Google.",
    "checking-online-status": "Notiek lapas ielāde...",
    "page-offline": "Neizdevās pieslēgties internetam. Tiek izmantota lapas nesaistes kopija.",
    "email-text": "Mana e-pasta adrese ir:\n\n{0}\n\nSpiediet [OK], lai automātiski sāktu jaunu vēstuli Jūsu e-pasta programmā (ja Jūsu sistēma to atbalsta).",
    "project-lv-keyboard": "Latviešu valodas klaviatūra (t.sk. Dvorak versija)",
    "project-fr-keyboard": "Franču QWERTY klaviatūra",
    "project-livescriptbrains": "LiveScript valodas spraudnis JetBrains vidēm (WebStorm utt.)",
    "software": "Programmatūra",
    "gaming": "Videospēles",
    "profiles": "Konti un profili",
    "money": "Finanšu konti"
  }