body {
  display: flex;
  justify-content: center;
}
body > .content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  height: 64px;
  min-width: 64px;
}
header li {
  display: block;
}
header ul {
  margin: 0;
  padding: 0;
}
header .money-table.closed {
  justify-content: center;
}
header .money-table.closed .cell {
  flex-grow: 0;
}
header .money-table.closed .cell span, header .money-table.closed .cell a {
  display: none;
}
header .money-table .cell {
  word-break: break-all;
  text-align: left;
  display: flex;
  margin-top: 5px;
  flex-grow: 1;
  align-items: center;
}
header .money-table .cell img {
  margin-right: 5px;
  flex-shrink: 0;
  min-width: 0;
  width: 48px;
  height: 48px;
}
header .contacts, header .money, header .money-table {
  display: flex;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
header .contacts .column, header .money .column, header .money-table .column {
  flex-shrink: 1;
}
header .contacts .column .contact-card, header .money .column .contact-card, header .money-table .column .contact-card {
  display: flex;
  flex-direction: column;
}
header .contacts .column:nth-child(2), header .money .column:nth-child(2), header .money-table .column:nth-child(2) {
  flex-grow: 0;
  flex-shrink: 0;
}
header .contacts .column ul, header .money .column ul, header .money-table .column ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
header .language-switch {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
}

.panel ul {
  display: flex;
  flex-direction: column;
}
.panel ul li {
  display: block;
}
.panel ul li a {
  display: flex;
  align-items: center;
}