html {
    background-color: #28282b;
    font-family: "Nunito", sans-serif;
    font-size: 18pt;
    color: white;
}

a {
    color: white;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    & + & {
        margin-left: 2rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

    section {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}

hr {
    width: 100%;
    display: block;
    border: none;
    border-top: 1px dashed gray;
}
